<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editar Clientes - Cool Cloth</title>
    <%- include ('partials/head') %>
  </head>

  <body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
    <!--===============================================================================-->

    <main class="mainSignUp">
      <section>
        <h2>Modificar cliente: <%=cliente.username%></h2>
        <div class="errores">
          <ul></ul>
        </div>
        <form
          action="/clients/edit/<%=cliente.username%>?_method=PUT"
          method="post"
          class="formularySignUp"
          enctype="multipart/form-data"
        >
          <div class="profile">
            <div class="profilePicture">
              <img
                src="/img/clients/<%=cliente.imgCli%>"
                alt="<%=cliente.imgCli%>"
              />
            </div>
            <input
              type="file"
              name="uploadedImageCliEdit"
              id="uploadedImageCliEdit"
              accept=".jpg, .png, .svg"
            />
          </div>

          <div class="containerForm">
            <div class="formSignUp">
              <input
                type="text"
                name="nameSignUpCli"
                id="nameSignUpCli"
                class="nameSignUp"
                placeholder="Nombre(s) y Apellido"
                minlength="4"
                value="<%= cliente.name %> "
              />

              <input
                type="text"
                name="usernameSignUpCli"
                id="usernameSignUpCli"
                placeholder="Nombre de usuario"
                minlength="2"
                value="<%= cliente.username %> "
              />

              <input
                type="email"
                name="emailSignUpCli"
                id="emailSignUpCli"
                class="emailSignUp"
                placeholder="Correo Electrónico"
                value="<%= cliente.email %> "
              />

              <input
                type="password"
                name="passwordSingUpCli"
                id="passwordSignUpCli"
                class="passwdSingUp"
                placeholder="Contraseña"
              />
              <input
                type="password"
                name="rpasswordSingUpCli"
                id="rasswordSignUpCli"
                class="passwdSingUp"
                placeholder="Confirmar contraseña"
              />
            </div>
            <div class="Part-2">
              <h4>Fecha de Nacimiento</h4>
              <input
                type="date"
                name="nacimientoCli"
                id="nacimientoCli"
                class="nacimiento"
                value="<%= cliente.dateborn%> "
              />

              <span class="gender">
                <h4>Sexo</h4>
                <% if(cliente.sex == 0){ %>
                <span class="spanMen">
                  <input
                    type="radio"
                    name="radioSexCli"
                    id="radioSexCli"
                    class="radioSexMen"
                    value="0"
                    checked="checked"
                  />
                  <label for="men">Hombre</label>
                </span>

                <span class="spanWomen">
                  <input
                    type="radio"
                    name="radioSex"
                    id="radioSex"
                    class="radioSexWomen"
                    value="1"
                  />
                  <label for="women">Mujer</label>
                </span>
                <%} else{ %>
                <span class="spanMen">
                  <input
                    type="radio"
                    name="radioSexCli"
                    id="radioSexCli"
                    class="radioSexMen"
                    value="0"
                  />
                  <label for="men">Hombre</label>
                </span>

                <span class="spanWomen">
                  <input
                    type="radio"
                    name="radioSex"
                    id="radioSex"
                    class="radioSexWomen"
                    value="1"
                    checked="checked"
                  />
                  <label for="women">Mujer</label>
                </span>
                <% } %>
              </span>
            </div>
          </div>
          <div class="signup">
            <button
              type="submit"
              name="btnSignUp"
              id="btnSignUp"
              class="btnSignUp"
            >
              Actualizar cliente
            </button>
          </div>
        </form>
      </section>
    </main>

    <!--=================================== FOOTER ===================================-->
    <%- include ('partials/footer') %>
    <!--==============================================================================-->
    <script src="/js/valFormClientEdit.js"></script>
  </body>
</html>
