<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio - Ropa Personalizada</title>
    <%- include ('partials/head') %>
</head>

<body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
    <!--===============================================================================-->

        <main>
            <section>
                <div class="carousel">
                    <div class="carousel-items">
                        <ul class="slides">
                            <li class="slide" id="slide1">
                                <a href="#">
                                    <img src="img/banner_01.png" alt="photo 1">
                                </a>
                            </li>
                            <li class="slide" id="slide2">
                                <a href="#">
                                    <img src="img/banner_02.png" alt="photo 2">
                                </a>
                            </li>
                            <li class="slide" id="slide3">
                                <a href="#">
                                    <img src="img/banner_03.png" alt="photo 3">
                                </a>
                            </li>
                            <li class="slide" id="slide4">
                                <a href="#">
                                    <img src="img/banner_04.png" alt="photo 4">
                                </a>
                            </li>
                            <li class="slide" id="slide5">
                                <a href="#">
                                    <img src="img/banner_01.png" alt="photo 5">
                                </a>
                            </li>
                        </ul>
                        <ul class="slider-controler">
                            <li><a href="#slide1">&bullet;</a></li>
                            <li><a href="#slide2">&bullet;</a></li>
                            <li><a href="#slide3">&bullet;</a></li>
                            <li><a href="#slide4">&bullet;</a></li>
                            <li><a href="#slide5">&bullet;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="products">
                        <% for( let i = 0; i <= 6; i++ ) { %>
                        <%if(productos[i].stock != 0){ %>
                
                        <div class="productCoolCloth">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="heart"
                            class="svg-inline--fa fa-heart fa-w-16 heart"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                          >
                            <path
                              fill="currentColor"
                              d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9
                            49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 
                            0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"
                            ></path>
                          </svg>
                          <div class="imagen">
                            <img src="/img/<%=productos[i].img_principal%>" alt="<%=productos[i].img_principal%>" />
                          </div>
                          <div class="product-info">
                            <a href="/products/detailsP/<%= productos[i].model_Products %> ">
                              <h2><%= productos[i].short_description%></h2>
                            </a>
                            <h3>
                              <% for(let j=0; j< inventario.length; j++){ %>
                                    <%if(productos[i].model_Products == inventario[j].products_model){%> 
                                        <%=inventario[j].sizes.size %> 
                                    <% } %> 
                              <% } %>
                            </h3>
                          </div>
                          <div class="price">
                            <p>$<%= productos[i].price %></p>
                          </div>
                        </div>
                        <% } %> 
                        <% } %>
                      </div>
            </section>
           
        </main>

    <!--=================================== FOOTER ===================================-->
    <%- include ('partials/footer') %>
    <!--==============================================================================-->
</body>

</html>