<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio de Sesión - Cool Cloth</title>
    <%- include ('partials/head') %>
</head>

<body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
    <!--===============================================================================-->

        <main class="mainLogin">
            <section>
               <!-- <div class="textSignup align-der">
                    <h4>Si deseas ingresar como empleado da clic <a href="register">Aquí</a></h4>
                </div>-->
                <form action="/login" method="post" class="formularyLogin">
                    <div class="containerFormLogin">
                        <% if (locals.errors && errors.userName) { %>
                            <p class="is-dangeros">  <%= errors.userName.msg %> </p>
                         <% } %>  
                        <input type="text" name="usernameLogin" id="usernameLogin" class="usernameLogin"
                            placeholder="Nombre de usuario" required>
                            <% if (locals.errors && errors.passUser) { %>
                                <p class="is-dangeros">  <%= errors.passUser.msg %> </p>
                             <% } %>  
                        <input type="password" name="passwordLogin" id="passwordLogin" class="passwordLogin"
                            placeholder="Contraseña" required>
                    </div>
                    <div class="termsConditions">
                        <input type="checkbox" name="soyEmpleado" id="soyEmpleado" ><label>Ingresar como empleado</label>
                    </div>
                    <div class="textSignup">
                        <h4>¿Aun no tienes una cuenta? <a href="register">Registrate</a></h4>
                    </div>
                    <div class="login">
                        <input type="submit" name="bntLogin" id="btnLogin" class="btnLogin" value="Iniciar Sesión">
                    </div>
                </form>
            </section>
        </main>

    <!--=================================== FOOTER ===================================-->
    <%- include ('partials/footer') %>
    <!--==============================================================================-->
</body>

</html>