<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registro Administradores - Cool Cloth</title>
    <%- include ('partials/head') %>
  </head>

  <body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
    <!--===============================================================================-->

    <main class="mainSignUp">
      <section>
        <h2>Modificar usuario: <%=usuario.user_employ%></h2>
        <div class="errores">
          <ul></ul>
        </div>
        <form
          action="/users/edit/<%=usuario.user_employ%>?_method=PUT"
          method="post"
          class="formularySignUp"
          enctype="multipart/form-data"
        >
          <div class="profile">
            <div class="profilePicture">
              <img
                src="/img/users/<%=usuario.imgProfile%>"
                alt="<%=usuario.imgProfile%>"
              />
            </div>
            <input
              type="file"
              name="uploadedImageUserEdit"
              id="uploadedImageUserEdit"
              accept=".jpg, .png, .svg"
            />
          </div>
          <div class="containerForm">
            <div class="formSignUp">
              <input
                type="text"
                name="nameSignUp"
                id="nameSignUp"
                class="nameSignUp"
                placeholder="Nombre(s) y Apellido"
                minlength="4"
                value="<%= usuario.name_e %> "
              />

              <input
                type="text"
                name="usernameSignUp"
                id="usernameSignUpE"
                placeholder="Nombre de usuario"
                minlength="2"
                value="<%= usuario.user_employ %> "
              />

              <input
                type="email"
                name="emailSignUp"
                id="emailSignUpE"
                class="emailSignUp"
                placeholder="Correo Electrónico"
                value="<%= usuario.email_e %> "
              />

              <input
                type="password"
                name="passwordSingUp"
                id="passwordSignUpE"
                class="passwdSingUp"
                placeholder="Contraseña"
              />
              <input
                type="password"
                name="rpasswordSingUp"
                id="rasswordSignUpE"
                class="passwdSingUp"
                placeholder="Confirmar contraseña"
              />
            </div>
            <div class="Part-2">
              <h4>Fecha de Nacimiento</h4>
              <input
                type="date"
                name="nacimiento"
                id="nacimiento"
                class="nacimiento"
                value="<%= usuario.dateborn_e %> "
              />

              <span class="gender">
                <h4>Sexo</h4>
                <span class="spanMen">
                  <input type="radio" name="radioSex" id="radioSexM"
                  class="radioSexMen" value="0" <%=usuario.sex_e==='0' ?
                  'checked' : '' ; %> />
                  <label for="men">Hombre</label>
                </span>

                <span class="spanWomen">
                  <input type="radio" name="radioSex" id="radioSexW"
                  class="radioSexWomen" value="1" <%=usuario.sex_e==='1' ?
                  'checked' : '' ; %> />
                  <label for="women">Mujer</label>
                </span>
              </span>
              <input
                type="text"
                name="typeSignUp"
                id="typeSignUpE"
                placeholder="Cargo"
                minlength="2"
                value="<%= usuario.type_employ %> "
              />
            </div>
          </div>
          <div class="signup">
            <button
              type="submit"
              name="btnSignUp"
              id="btnSignUp"
              class="btnSignUp"
            >
              Actualizar usuario
            </button>
          </div>
        </form>
      </section>
    </main>

    <!--=================================== FOOTER ===================================-->
    <%- include ('partials/footer') %>
    <!--==============================================================================-->
    <script src="/js/valFormAdminEdit.js"></script>
  </body>
</html>
