<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cool Cloth</title>
    <%- include ('partials/head') %>
  </head>

  <body>
    <!--===================================  HEADER ===================================-->
    <%- include ('partials/navBar') %>
    <!--===============================================================================-->

    <div class="container">
      <h2>Empleados Registrados</h2>

      <section class="usuarios-tabla">
        <div class="left">
          <a class="btn-a" href="/users/addUser">Agregar nuevo usuario</a>
        </div>
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
        <div class="usuario">
          <% if(usuarios[i].imgProfile != null){ %> <%
          console.log(usuarios[i].imgProfile) %>
          <div class="imagenPerfil">
            <img
              src="/img/users/<%=usuarios[i].imgProfile%>"
              alt="<%=usuarios[i].imgProfile%>"
            />
          </div>
          <%} else{ %>
          <div class="imagenPerfil">
            <img src="/img/users/avatar.png" alt="avatar general" />
          </div>

          <% } %>
          <div class="datosUsuarios">
            <ul class="datosUsuarios-li">
              <li>
                <a href="/users/detailsU/<%= usuarios[i].user_employ %>">
                  <h2><%= usuarios[i].user_employ %></h2>
                </a>
              </li>
              <li>Nombre: <%= usuarios[i].name_e %></li>
              <li>E-mail: <%= usuarios[i].email_e %></li>

              <li>Cargo: <%= usuarios[i].type_employ %></li>
            </ul>
          </div>
        </div>
        <% } %>
      </section>
    </div>

    <!--=================================== FOOTER ===================================-->
    <%- include ('partials/footer') %>
    <!--==============================================================================-->
  </body>
</html>
